.create-article-container {
    width: 100%;
    max-width: 400px; /* Limite la largeur du formulaire */
    margin: 50px auto; /* Centre horizontalement */
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Centre le texte à l'intérieur */
  }