<div class="login-container">
    <!-- Flèche de retour à la page précédente -->
    <button class="back-btn" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon> <!-- Icône de retour (Material Icons) -->
    </button>

    <div class="logo">
      <img src="/assets/logo_p6.png" alt="Logo" />
    </div>
  
    <h2>Se connecter</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="identifier">E-mail ou nom d'utilisateur</label>
        <input id="identifier" type="text" formControlName="identifier">
        <div *ngIf="loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched">
        </div>
      </div>
  
      <div>
        <label for="password">Mot de passe</label>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        </div>
      </div>
      <app-custom-button 
        text="Se connecter" 
        type="primary"
        [disabled]="loginForm.invalid"
        (clicked)="onSubmit()">
      </app-custom-button>

    </form>
    <p>{{ message }}</p>
  </div>
  