.register-container {
  width: 100%;
  max-width: 400px; /* Limite la largeur du formulaire */
  margin: 50px auto; /* Centre horizontalement */
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center; /* Centre le texte à l'intérieur */
  position: relative;
  
  /* Style du bouton de retour */
  .back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

    &:hover {
      color: #7451eb; /* Changer la couleur au survol */
    }

    mat-icon {
      font-size: 30px; /* Ajuste la taille de l'icône */
    }
  }
}
