<div class="login-container">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="identifier">E-mail ou nom d'utilisateur</label><br>
        <input id="identifier" type="text" formControlName="identifier">
        <div *ngIf="loginForm.get('identifier')?.invalid && loginForm.get('identifier')?.touched">
          Ce champ est requis.
        </div>
      </div>
  
      <div>
        <label for="password">Mot de passe</label><br>
        <input id="password" type="password" formControlName="password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Le mot de passe est requis.
        </div>
      </div>
      <br> 
      <button type="submit" [disabled]="loginForm.invalid">Se connecter</button>
    </form>
    <p>{{ message }}</p>
  </div>
  