.login-container {
    width: 100%;
    max-width: 90%;
    margin: 50px auto; /* Centre horizontalement */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center; /* Centre le texte à l'intérieur */
    position: relative;
  }

  .logo {
    display: none;
  }
  
  .back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;

    &:hover {
        color: #7451eb; /* Changer la couleur au survol */
      }
  }

  .back-btn mat-icon {
    font-size: 40px; /* Taille de l'icône */
    height: 40px;
    width: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 250px;
    gap: 20px;
  }

  @media (max-width: 650px) {
    .back-btn {
      top: -20px;
    }

    .logo {
      display: flex;
      justify-content: center;
    }
      
    img {
      height: 200px;
    }
  }
  
  
  