<div class="article-container">
  <!-- Conteneur pour le bouton et les flèches de tri -->
  <div class="top-container">
    <!-- Bouton pour créer un article -->
    <app-custom-button 
      text="Créer un article" 
      type="primary"
      (clicked)="navigateTo('/create')">
    </app-custom-button>


    <!-- Flèches pour trier -->
    <div class="sort-container" (click)="toggleSortOrder()">
      <span>Trier&nbsp;par</span>
      <span class="arrow" [class.arrow-down]="sortOrder === 'desc'" [class.arrow-up]="sortOrder === 'asc'">
        <i class="arrow-icon"></i>
      </span>
    </div>
  </div>

  <div class="grid-container">
    <div class="article-card" *ngFor="let article of articles" (click)="goToArticle(article.id)">
      <h3>{{ article.title }}</h3>
      <p class="article-date">{{ article.createdAt | date:'d MMMM y' }}</p>
      <p class="article-author">{{ article.author.username }}</p>
      <p class="article-content">{{ article.content }}</p>
    </div>
  </div>
</div>
