<div class="create-article-container">
    <!-- Flèche de retour -->
    <button class="back-btn" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
    </button>
  
    <h2>Créer un nouvel article</h2>
    
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
      <div>
        <select id="topic" formControlName="topicId">
          <option value="" disabled selected>Sélectionnez un thème</option>
          <option *ngFor="let topic of topics" [value]="topic.id">
            {{ topic.name }}
          </option>
        </select>
        <div *ngIf="articleForm.get('topicId')?.invalid && articleForm.get('topicId')?.touched">
        </div>
      </div>
  
      <div>
        <input id="title" type="text" formControlName="title" placeholder="Titre de l'article">
        <div *ngIf="articleForm.get('title')?.invalid && articleForm.get('title')?.touched">
        </div>
      </div>
  
      <div>
        <textarea id="content" formControlName="content" placeholder="Contenu de l'article"></textarea>
        <div *ngIf="articleForm.get('content')?.invalid && articleForm.get('content')?.touched">
        </div>
      </div>
      
      <app-custom-button 
        text="Créer" 
        type="primary"
        [disabled]="articleForm.invalid">
      </app-custom-button>

    </form>
    <p>{{ message }}</p>
</div>
