.profil-container {
    padding: 16px;

    .profil-data {
        width: 90%;
        margin: auto;
        border-bottom: solid 1px black;
    }
  }

  h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 250px;
    gap: 10px;
  }
  
  .subscriptions-grid {
    margin-top: 32px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
  }
  
  .topic-card {
    border-radius: 8px;
    padding: 16px;
    background-color: #F5F5F5;

    h3 {
        font-weight: 700;
    }

    p {
        max-height: 100px;          
        overflow: hidden;           
        text-overflow: ellipsis;    
        display: -webkit-box;       
        -webkit-line-clamp: 4;      
        -webkit-box-orient: vertical; 
        word-wrap: break-word;      
      }
  }
  