.navbar {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Aligne les éléments verticalement */
    border-bottom: solid 1px black;
  
    .logo {
      img {
        height: 100px; /* Ajuste la taille du logo */
      }
    }
  
    .nav-items {
      list-style: none;
      display: flex;
      padding: 0;
      margin: auto 0;
  
      li {
        margin-left: 20px; /* Espacement entre les éléments */
      }

      span {
        color: #A40F0F;
      }
  
      a {
        color: black;
        text-decoration: none;
        padding: 10px;
        border-bottom: solid 1px transparent;
        transition: all 0.1s ease-in-out;
  
        display: flex;
        align-items: center; /* Centrer l'icône et le texte */
  

  
        &:hover {
          border-bottom: solid 1px #7451eb;
        }
      }
    }
  }
  