<nav *ngIf="shouldDisplayNavbar" class="navbar">
    <div class="logo">
      <img src="/assets/logo_p6.png" alt="Logo" />
    </div>
    
    <ul class="nav-items" *ngIf="shouldDisplayNavItems">
      <li><a routerLink="/login" (click)="logout()"><span>Se déconnecter</span></a></li>
      <li>
        <a routerLink="/article" [ngClass]="{'active-link': activeRoute === '/article'}">Articles</a>
      </li>
      <li>
        <a routerLink="/topics" [ngClass]="{'active-link': activeRoute === '/topics'}">Thèmes</a>
      </li>
      <li>
        <a routerLink="/profil">
          <mat-icon class="profile-icon" [ngClass]="{'active-icon': activeRoute === '/profil'}">account_circle<div class="test">"</div></mat-icon>
        </a>
      </li>
    </ul>
</nav>
